node_modules
wp_content/blogs.dir/
wp_content/upgrade/
wp_content/backup-db/
wp_content/advance-cache.php
wp_content/wp_cache-config.php
wp_content/cache/
wp_content/backups/
wp_content/mu_plugins/pagely*
wp_content/index.php
wp_content/languages
wp_content/eww
sistemap.xml
*.log
/wp-*.php
/index.php
license.txt
readme.html
wp-admin
wp-includes/
xmlrpc.php
wp-config-hosting.php
db-config.php
sistemap.xml.gz
.DS_Store
.idea/
.htacess
wp-admin
wp-includes